@import "reset.css";

html {
	font-family: 'Lato', sans-serif;
	/*font-family: 'Raleway', sans-serif;*/
}

.container {
	background-color: #faf2e8;
}

.selection-container,
.welcome-container,
.question-container {
  padding-top: 60px;
}

.welcome-container {
  display: none;
}

.question-container {
  display: none;
}

.n-correct {
	position: absolute;
	top: 0;
	right: 0;
}

.btn {
	background-color: #ffa883;
	margin-left: 30%;
	margin-right: 30%;
	padding: 10px;
	cursor: pointer;
}

.btns .btn {
	/*height: 20px;*/
	background-color: #fff;
	text-align: left;
}

.btns .selected {
	background-color: #a7ffeb !important;
}

.n-correct li {
	margin-bottom: 5px;
	list-style-type: none;
}

.n-correct .light {
	height: 30px;
	width: 30px;
	background-color: #fff;
	border:5px solid #a7ffeb;
}

.n-correct .lightup {
	height: 30px;
	width: 30px;
	border:5px solid #a7ffeb;
	background-color: #a7ffeb !important;
}