.welcome-container,
.question-container {
  padding-top: 60px;
}

.question-container {
  display: none;
}

.btn {
	cursor: pointer;
}

.btns .btn {
	/*height: 20px;*/
	background-color: #fff;
	text-align: left;
}

.btns .selected {
	background-color: #a7ffeb !important;
}