@import "reset.css";

html {
	height: 100%;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

body {
	height: 100%;
}

h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 1.8rem;
	line-height: 4rem;
}

h3 {
	margin-bottom: 30px;

	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 1rem;
	line-height: 2rem;
}


.container {
	height: 100%;
	background-color: #faf2e8;
}

.selection-container,
.welcome-container,
.question-container {
  padding-top: 60px;
}

.welcome-container {
  display: none;
}

.question-container {
  display: none;
	position: relative;
}

#question-head {
	font-weight: 500;
}

.n-correct {
	position: absolute;
	top: 15px;
	right: 30px;
}

#correct-progress {
	color: #ffa883;
	font-weight: 400;
	margin-bottom: 10px;
}

.flex-container {
	display: flex;
}

.btn {
	background-color: #ffa883;
	padding: 10px;
	cursor: pointer;
}

.btns .btn {
	/*height: 20px;*/
	margin-bottom: 20px;

	background-color: #faf2e8;
	text-align: left;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

.btns .btn:hover {
	/*height: 20px;*/
	background-color: #ffffff;
	border-radius: 20px;
}

.btns .selected {
	background-color: #ffffff !important;
	border-color: #ffa883;
	border-radius: 20px;
	border-width: 2px;
}


.btn-primary {
	margin-top: 50px;
	border-color: #ffa883;

	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

.btn-center {
	display: block;
	text-align: center;
	margin: auto;
	margin-bottom: 50px;
}

.btn-primary:hover {
	background-color: #f9812a;
	border-color: #f9812a;
}

.n-correct li {
	margin-bottom: 5px;
	list-style-type: none;
	flex-grow: 1;
}

.n-correct .light {
	height: 30px;
	width: 30px;
	background-color: #fff;
	border: 2px solid #ffa883;
	border-radius: 15px;
}

.n-correct .lightup {
	height: 30px;
	width: 30px;
	border: 2px solid #ffa883;
	border-radius: 15px;
	background-color: #ffa883 !important;
}